# 설정 및 환경변수
config.py
.env
__pycache__/

# 데이터셋 (이미지 파일들)
dataset/
*.png
*.jpg
*.jpeg

# 가상환경
venv/
.venv/

# [Node.js - simple_web 관련]
# simple_web 폴더 안의 node_modules만 정확히 지칭
simple_web/node_modules/
simple_web/npm-debug.log*

# 만약 웹에서 업로드된 파일이 저장되는 곳이 있다면
simple_web/public/uploads/